
#section-1 {
  background: rgba(0, 0, 0, 0) url("http://wom.hqsolu.com//uploads/images/Tech(1).jpg") no-repeat scroll center center / cover;
}
#hq-breadcrumb {
  padding: 150px 0 70px 0;
  display: flex;
  width: 100%;
  background-size: cover;
  justify-content: center;
  align-content: center;
}
#hq-breadcrumb {
  background: rgba(0, 0, 0, 0) url("../images/bg-slide1.jpg") no-repeat scroll center center / cover;
}

.hq-makr-contact {
  background: rgba(0, 0, 0, 0) url("http://wom.hqsolu.com//uploads/images/slider-img-12-min.jpg") no-repeat scroll center center / cover;
}

.hq-blog-single .hq-content-blog .hq-title-blog-single {
  color: #313131;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-transform: none;
  margin: 20px 0;
}

.hq-blog-single .hq-detail-blog p {
  line-height: 26px; }

.hq-side-bar .hq-widget-wrapper {
  display: block;
  margin-bottom: 40px; }
.hq-side-bar .hq-widget-wrapper .hq-title-widget h2 {
  color: #313131;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li {
  display: block;
  margin-bottom: 15px; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li .hq-img {
  width: 111px;
  float: left;
  margin-right: 10px; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li .hq-content {
  width: 250px;
  width: calc(100% - 130px);
  float: left; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li .hq-content h3 {
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 22px; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li .hq-content h3 a {
  color: #313131; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li .hq-content h3 a:hover {
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #f9c013; }
.hq-side-bar .hq-widget-wrapper .hq-relate-post-sidebar ul li .hq-content .hq-meta-blog {
  font-size: 12px; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul li {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #eee; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul li a {
  color: #313131; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul li a:hover {
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #f9c013; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul li a .fa {
  display: inline-block;
  margin-right: 15px; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul ul {
  padding-left: 30px;
  margin-top: 20px; }
.hq-side-bar .hq-widget-wrapper .hq-cate-sidebar ul ul li:last-child {
  border-bottom: none;
  margin-bottom: 0; }
.hq-img img{
  width: 100%;
}
.hq-share{
  margin: 35px 0;
}
.hq-share .as-list-icon-share-btn span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-weight: 700;
  font-size: 15px;
  margin: 5px 0;
}
